body{
	min-width: 330px;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #F2F2E9;
	font-family: 'Open Sans', sans-serif;
}

img{
	width: 100%;
	height: 60%;
}

input:focus {
	background-color: #ff8;
}

input:hover,button:hover {
	background-color: #b2e8ff;
	color: black;
}

.icon-to-start:hover, .icon-left:hover, .icon-right:hover, .icon-to-end:hover {
	text-shadow: 0 0 5px grey;
}




body>header{
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 2%;
	overflow: hidden;
}

	#logo{
		width: 30%;
		height: 30%;
	}


	body>header>img{
		align-items: center;
		margin: 2%;
	}

	body>header>div{
		display: flex;
		margin: 0 auto;
		flex-direction: column;
	}

	body>header>div>h1{
		margin-top: 0;
		margin-bottom: 2.5%;
		padding: 0;
	}

	body>header>div>h2{
		margin: 0;
		padding: 0;
	}

body>nav{
	background-color: #DC1400;
}

	body>nav>ul{
		list-style: none;
		margin: 0;
		/*margin-left: 1%;
		margin-right: 1%;*/
		max-height: 2.1em;
		padding: 0;
		overflow: hidden;
		transition: max-height 1s;	/* Aplicar una transicion (animacion). 
		Cuanto queremos que dure ese cambio cuando despliego el menu y lo recojo*/ 
	}

			body>nav>ul>li>a{
				display: block;
				padding: .2em ;
				overflow: hidden;
				padding-left: 1em;
				padding-right: 1em;
				text-decoration-line: none;
				font-weight: bold;
				color: #FFF;
			}

				body>nav>ul>li>a:hover{
					background-color: #FF5757;
					color: #000;
				}

	
				/* MENU DE HAMBURGUESA*/
				body>nav>ul>li:first-of-type>label{
					font-weight: bold;
					margin-left: .2em;
					display: inline-block;
					font-size: 1.5em;
					cursor: pointer;

					transition: transform 1s ease-in-out;	/* Hace que gire el icono */
				}

				body>nav>ul>li>label{
					color: #FFF;
				}

				/* Sobreescribimos las anteriores para hacer que se muestre el menu*/
				#CKBmenu{
					display: none;
				}

				#CKBmenu:checked+ul{
					max-height: 20em;
				}

				#CKBmenu:checked+ul>li:first-of-type>label{
					transform: rotate(180deg);	/* Operaciones de escalado, rotacion...*/
				}





body>main{
	background-color: #FFF;
	overflow: hidden;
	padding-bottom: 0%;
	margin-bottom: 2%;
}

	body>main>section{
		background-color: #FFF;
		padding: .5em
	}

	body>main>section>h2{
		text-align: center;
		padding: 0;
		margin-top: 1.5%;
		font-weight: bold;
		margin-bottom: 2%;
	}



	#formularios{
		margin: 1em auto;
		text-align: center;
	}
	
	#MiBusqueda{
		width: 15em;
		height: 2em;
		border-radius: 0.5em;
	}

	#botonB{
		border-radius: 0.5em;
		border-width: 2px;
		height: 2em;
		/* Estilo predefinido del boton*/
   		border-style: none;
   		border: 1px solid black;
	}


	
		#recetas{
			/* display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300), 1fr));
			grid-gap:1em;*/
			display: flex;
			flex-direction: column;
			margin-left: 2.5%;
			margin-right: 2.5%;
			padding: 1em;
		}

			#recetas>article{

				/* margin: 0;*/
				border: 1px solid #000;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				padding: 0;
				margin-top: 5%;

			}

				#recetas>article>h3{
					margin: 0 0;
					padding-top: 5%;
					background-color: #DC1400;
					text-overflow: ellipsis;	
					overflow: hidden;
					width: 100%;
					white-space: nowrap;
					text-align: center;
				}

				#recetas>article>h3>a{
					text-decoration-line: none;
					color: #000;
				}


				#recetas>article>h4{
					color: #fff;
					margin: 0;
					padding: 0;
					padding-bottom: 2.5%;
					font-weight: normal;
					text-align: center;
					border-bottom: 1px solid #000;
					background-color: #DC1400;
					font-size: 0.75em;
				}

					#recetas>article>h4>a{
						color: #fff;
					}


				#recetas>article>img{
					flex-grow: 1;
				}



				#recetas>article>footer{
					background-color: #DC1400;
					padding: 0;
					border-top: 1px solid #000;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
				}

				#recetas>article>footer>p{
					margin: 2.5% 5%;
					color: #ffd;
				}


	body>main>div{
		margin-top: 5%;
		padding: 0;
	}

		body>main>div>p{
			margin: 0;
		}

		body>main>div>button{
			margin: 0;
			height: 10%;
		}



body>footer {
	overflow: hidden;
	background-color: #DC1400;
	color: #fff;
	padding: .5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



	#copy {
		margin:0;
	}

	#Nosotros{
		margin:0;
		color: #fff;
		font-weight: bold;
	}

	#Arriba{
		margin: 0;
		max-width: 20%;
		color: #fff;
	}





#final{
	margin-top: 2.5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.5em;
}








/* MEDIA QUERY */

@media all and (min-width: 480px){

	body>nav>ul>li{
		display: inline-block;
	}
	body>nav>ul>li:first-of-type{
		display: none;
	}
	body>nav>ul>li>a>span:nth-of-type(2){
		display: none;
	}

	#MiBusqueda{
		width: 28em;
	}


}




@media all and (min-width: 760px){
	#logo {
		margin-left: 10%;
	}

	nav{
		min-height: 1.5em;
	}

	nav>ul>li>a{
		padding: 0;
	}

	nav>ul>li>a>span{
		font-size: 1em;
	}

	body>header{
		display: flex;
		flex-direction: row;
	}

	body>header>div{
		margin-left: 1em;
		flex-grow: 1;	
	}

	#recetas{
			flex-direction: row;
			flex-wrap: wrap;	/* El contenido lo podra poner en mas de una linea. Pero no hace nada si no cambiamos que el article ocupe el 100%*/
			
			/* Si sobra especio, lo reparte equitativamente entre los elementos con SPACE-AROUND */
			justify-content: space-around;
			padding: 1em;
	}

	#recetas>article{
		width: 35%;
		height: 40%;
		margin: 2.5%;	/* Si ponemos esto, se baja el articulo porque pasamos del 100%*/
		padding: 0;
	}

	#MiBusqueda{
		width: 28em;
	}
}




@media all and (min-width: 1000px){

	body>nav>ul>li>a>span:nth-of-type(2){
		display: inline-block;
	}


	#recetas{
		padding: 0;
	}

	#MiBusqueda{
		width: 28em;
	}

}





/* Mas grande */

@media all and (min-width: 1200px) {
	
	#recetas>article {
		width: 25%;
		margin: .5em;	/* Si ponemos esto, se baja el articulo porque pasamos del 100%*/
		margin-top: 2.5%;
	}

	

	#MiBusqueda{
		width: 48em;
	}
}
