body{
	min-width: 330px;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #F2F2E9;
	font-family: 'Open Sans', sans-serif;

}

img{
	width: 100%;
	height: 60%;
}


input:focus {
	background-color: #ff8;
}


body>header{
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 2%;
	overflow: hidden;
}

	#logo{
		width: 30%;
		height: 30%;
	}


	body>header>img{
		align-items: center;
		margin: 2%;
	}

	body>header>div{
		display: flex;
		margin: 0 auto;
		flex-direction: column;
	}

	body>header>div>h1{
		margin-top: 0;
		margin-bottom: 2.5%;
		padding: 0;
	}

	body>header>div>h2{
		margin: 0;
		padding: 0;
	}





/* NAVEGADOR */

body>nav{
	background-color: #DC1400;
}

	body>nav>ul{
		list-style: none;
		margin: 0;
		/*margin-left: 1%;
		margin-right: 1%;*/
		max-height: 2.1em;
		padding: 0;
		overflow: hidden;
		transition: max-height 1s;	/* Aplicar una transicion (animacion). 
		Cuanto queremos que dure ese cambio cuando despliego el menu y lo recojo*/ 
	}

			body>nav>ul>li>a{
				display: block;
				padding: .2em ;
				overflow: hidden;
				padding-left: 1em;
				padding-right: 1em;
				text-decoration-line: none;
				font-weight: bold;
				color: #FFF;
			}

				body>nav>ul>li>a:hover{
					background-color: #FF5757;
					color: #000;
				}

	
				/* MENU DE HAMBURGUESA*/
				body>nav>ul>li:first-of-type>label{
					font-weight: bold;
					margin-left: .2em;
					display: inline-block;
					font-size: 1.5em;
					cursor: pointer;

					transition: transform 1s ease-in-out;	/* Hace que gire el icono */
				}

				body>nav>ul>li>label{
					color: #FFF;
				}

				/* Sobreescribimos las anteriores para hacer que se muestre el menu*/
				#CKBmenu{
					display: none;
				}

				#CKBmenu:checked+ul{
					max-height: 20em;
				}

				#CKBmenu:checked+ul>li:first-of-type>label{
					transform: rotate(180deg);	/* Operaciones de escalado, rotacion...*/
				}





body>main{
	background-color: #FFF;
	overflow: hidden;
	padding-bottom: 5%;
	margin-bottom: 2%;
}

	body>main>h2{
		padding: 0;
    	margin-left: 3.5%;
    	margin-right: 3.5%;
    	margin-top: 2%;
    	font-weight: bold;
    	margin-bottom: 2%;
    	text-align: center;
	}

	body>main{
		overflow: hidden;
	}


	#error{
		margin: 1% 23%;
	}

	#error>p{
		text-align: center;
		background-color: #FF4242;
		border-color: black;
		padding: 1% 0;
	}


	#log{
		margin: 1% 23%;
	}

	#log>p{
		text-align: center;
		background-color: #81FF81;
		border-color: black;
		padding: 1% 0;
	}

	#logeando{
		margin: auto;
		text-align: center;
		border: 1px solid #000;
		width: 50%;
		background-color: #FD8383;
		border-radius: 1em;
		padding: 2%; 
		max-height: 6em;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: bold;
	}

	input{
		border-radius: 0.5em;
		border: 1px solid red;
	}


	
	button{
		height: 3em;
		width: 6em;
		font-weight: bold;
		border-radius: 0.5em;
		border: 1px solid black;
	}

	#Usuario:hover,#Cont:hover,button:hover{
		background-color: #B2E8FF;
		color: #000;
	}

	#userpass{
		margin-top: 5%;
	}

	


	#fuera{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

		#fuera>p{
			margin: 0;
			margin-bottom: 1%;
			padding: 0;
		}





body>footer {
	overflow: hidden;
	background-color: #DC1400;
	color: #fff;
	padding: .5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



	#copy {
		margin:0;
	}

	#Nosotros{
		margin:0;
		color: #fff;
		font-weight: bold;
	}

	#Arriba{
		margin: 0;
		max-width: 20%;
		color: #fff;
	}







/* MEDIA QUERY */

@media all and (min-width: 480px){


	body>nav>ul>li{
		display: inline-block;
	}
	body>nav>ul>li:first-of-type{
		display: none;
	}
	body>nav>ul>li>a>span:nth-of-type(2){
		display: none;
	}
}





@media all and (min-width: 760px){
	#logo {
		margin-left: 10%;
	}

	nav{
		min-height: 1.5em;
	}


	nav>ul>li>a{
		padding: 0;
	}

	nav>ul>li>a>span{
		font-size: 1em;
	}

	body>header{
		display: flex;
		flex-direction: row;
	}

	body>header>div{
		margin-left: 1em;
		flex-grow: 1;	
	}

}

/* Mas grande */

@media all and (min-width: 1000px) {

	#logeando{
		display: grid;		/* Para asignar una columna a los elementos de dentro*/
		grid-template-areas: 
			"l1 i1"
			"l2 i2";
		font-weight: bold;
		max-width: 50%;
		background-color: #FD8383;
	}

	#Username{
		grid-area: l1;
	}

	#Usuario{
		grid-area: i1;
	}
	#userpass{
		grid-area: l2;
		text-align: left;
	}

	#password{
		grid-area: i2;
	}
	

	#nacimiento{
		grid-area: i6;
	}


	#Username,#userpass{
		text-align: left;
		padding-left: 10%;
	}

	#envioregistro{
		display: flex;
		flex-direction: column;
		align-items: center;
	}





}




@media all and (min-width: 1000px){


	body>nav>ul>li>a>span:nth-of-type(2){
		display: inline-block;
	}

	body>main>section>h2{
		padding: 0;
		text-align: left;
		margin-left: 3.5%;
		margin-top: 1.5%;
		font-weight: bold;
		margin-bottom: 2%;
	}
}




/* Mas grande */

@media all and (min-width: 1200px) {
		

}
