/* 
	Establecemos el minimo de la pantalla para que no sea más trande, 
	el color de fondo y la fuente que vamos a usar
*/
body{
	min-width: 330px;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #F2F2E9;
	font-family: 'Open Sans', sans-serif;
}


/* Tamaño de las imagenes*/
img{
	width: 100%;
	height: 60%;
}








/*-------------------------------------------------------------------------------------------------
*/


/* Ordenamos un poco la cabecera */
body>header{
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 2%;
	overflow: hidden;
}

	#logo{
		width: 30%;
		height: 30%;
	}

	body>header>img{
		align-items: center;
		margin: 2%;
	}

	body>header>div{
		display: flex;
		margin: 0 auto;
		flex-direction: column;
	}

		body>header>div>h1{
			margin-top: 0;
			margin-bottom: 2.5%;
			padding: 0;
		}

		body>header>div>h2{
			margin: 0;
			padding: 0;
		}









/*-------------------------------------------------------------------------------------------------
*/

/* Ponemos chachi la barra de navegación */

body>nav{
	background-color: #DC1400;	/* Color rojo */
}

	body>nav>ul{
		list-style: none;	/* Le quitamos los puntitos a la lista */
		margin: 0;
		max-height: 2.1em;	/* Con esto no dejamos que se vea el menú 
								y el overflow hidden hacec que no se superponga */
		padding: 0;
		overflow: hidden;
		transition: max-height 1s;	/* Aplicar una transicion (animacion). 
		Cuanto queremos que dure ese cambio cuando DESPLIEGUE del menu y lo recojo*/ 
	}

			body>nav>ul>li>a{
				display: block;
				padding: .2em ;
				overflow: hidden;
				padding-left: 1em;
				padding-right: 1em;
				text-decoration-line: none; 	/* Le quitamos el subrayado al enlace */
				font-weight: bold;
				color: #FFF;
			}

				body>nav>ul>li>a:hover{
					background-color: #FF5757;	/* Cambia de color al pasar el raton */
					color: #000;
				}

	
			/* MENU DE HAMBURGUESA*/
			/* Este es el icono. Podríamos darle una id y llamarlo directamente*/
			body>nav>ul>li:first-of-type>label{
				font-weight: bold;
				margin-left: .2em;
				display: inline-block;
				font-size: 1.5em;
				cursor: pointer;

				transition: transform 1s ease-in-out;	/* Hace que gire el icono */
			}

				/* Color icono */
				body>nav>ul>li>label{
					color: #FFF;
				}

				/* No dejamos que se vea el checkbox, pero en realidad, esta ahí*/
				#CKBmenu{
					display: none;
				}

				/* Cuando el checkbox está checkeado le damos un tamaño al ul para que se vea */
				#CKBmenu:checked+ul{
					max-height: 20em;
				}

				/* Cuando el checbox está activado y le clicamos vuelve a hacer la rotacion del icono */
				#CKBmenu:checked+ul>li:first-of-type>label{
					transform: rotate(180deg);	/* Operaciones de escalado, rotacion...*/
				}









/*-------------------------------------------------------------------------------------------------
*/



body>main{
	background-color: #FFF;
	overflow: hidden;
	padding-bottom: 0%;
	margin-bottom: 2%;
}



	/* Cuando el input de buscar tenga el foco, se cambia de color*/
	input:focus {
		background-color: #ff8;
	}

	/* Cuando pasamos el ratón por encima del input de buscar se cambia de color*/
	input:hover {
		background-color: #b2e8ff;
		color: black;
	}

	/* Le damos sombra a los botones de la paginación*/
	.icon-to-start:hover, .icon-play:hover, .icon-to-end-1:hover {
		text-shadow: 0 0 5px grey;
	}


	/* Ponemos color blanco a la sección de recetas */
	body>main>section{
		background-color: #FFF;
		padding: .5em
	}

		body>main>section>h2{
			text-align: center;
			padding: 0;
			margin-top: 1.5%;
			font-weight: bold;
			margin-bottom: 2%;
		}

	#formularios{
		display: flex;
		flex-direction: column;
	}

		#Ordeno{
			margin: auto;
			padding-top: 0.15%;
			margin-bottom: 2%;
			display: flex;
			flex-direction: column;
		}

			#Ordeno>label{
				text-align: center;
			}

				#select{
					padding: 0;
					margin: 0;
					display: flex;
					flex-direction: column;
				}

		#Busco{
			margin:auto;
			margin-bottom: 1%;
		}
	
		

	/* Le ponemos margen a las recetas. El bloque */
	#recetas{
		display: flex;
		flex-direction: column;
		margin-left: 2.5%;
		margin-right: 2.5%;
		padding: 1em;
	}

		/* Inicialmente las ponemos en columna, claro*/
		#recetas>article{
			border: 1px solid #000;
			display: flex;
			flex-direction: column;
			flex-grow: 1;	/* Crecen con el documento*/
			padding: 0;
			margin-top: 5%;
		}

			#recetas>article>h3{
				margin: 0 0;
				padding-top: 5%;
				background-color: #DC1400;
				text-overflow: ellipsis;		/* Con esto salen los ... */
				overflow: hidden;				/* Necesario para ...*/
				width: 100%;					/* Necesario para ...*/
				white-space: nowrap;			/* Necesario para ...*/
				text-align: center;
			}

			#recetas>article>h3>a{
				text-decoration-line: none;
				color: #000;
			}

			/*Fecha y persona señores */
			#recetas>article>h4{
				color: #fff;
				margin: 0;
				padding: 0;
				padding-bottom: 2.5%;
				font-weight: normal;
				text-align: center;
				border-bottom: 1px solid #000;
				background-color: #DC1400;
				font-size: 0.75em;
			}

				#recetas>article>h4>a{
					color: #fff;
				}


			#recetas>article>img{
				flex-grow: 1;
			}



			#recetas>article>footer{
				background-color: #DC1400;
				padding: 0;
				border-top: 1px solid #000;
				display: flex;
				flex-direction: row;
				justify-content: space-around;	/* Para centrar los iconos*/
			}

			#recetas>article>footer>p{
				margin: 2.5% 5%;
				color: #ffd;
			}


	body>main>div{
		margin-top: 5%;
		padding: 0;
	}

		body>main>div>p{
			margin: 0;
		}

		body>main>div>button{
			margin: 0;
			height: 10%;
		}





		#final{
			margin-top: 2.5%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			font-size: 1.25em;
		}







/*-------------------------------------------------------------------------------------------------
*/




body>footer {
	overflow: hidden;
	background-color: #DC1400;
	color: #fff;
	padding: .5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



	#copy {
		margin:0;
	}

	#Nosotros{
		margin:0;
		color: #fff;
		font-weight: bold;
	}

	#Arriba{
		margin: 0;
		max-width: 20%;
		color: #fff;
	}












/*-------------------------------------------------------------------------------------------------
*/



/* MEDIA QUERY's */

@media all and (min-width: 480px){

	/* Lo ponemos en filita */
	nav>ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;		

	}


	body>nav>ul>li{
		display: inline-block;
	}

	/* Quitamos el icono */
	body>nav>ul>li:first-of-type{
		display: none;
	}

	/* No queremos que se vea el nombre aun */
	body>nav>ul>li>a>span:nth-of-type(2){
		display: none;
	}


}








@media all and (min-width: 760px){

	#logo {
		margin-left: 10%;
	}

	nav{
		min-height: 1.5em;
	}

	nav>ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;

	}

	nav>ul>li>a{
		padding: 0;
	}

	nav>ul>li>a>span{
		font-size: 1em;
	}

	body>header{
		display: flex;
		flex-direction: row;
	}

	body>header>div{
		margin-left: 1em;
		flex-grow: 1;	
	}

	#recetas{
			flex-direction: row;
			flex-wrap: wrap;	/* El contenido lo podra poner en mas de una linea. 
									Pero no hace nada si no cambiamos que el article ocupe el 100%*/
			
			/* Si sobra especio, lo reparte equitativamente entre los elementos con SPACE-AROUND */
			justify-content: space-around;
			padding: 1em;
	}

	/* De 2 en 2 */
	#recetas>article{
		width: 35%;
		height: 40%;
		margin: 2.5%;	/* Si ponemos esto + el width, se baja el articulo porque pasamos del 100%*/
		padding: 0;
	}
}





@media all and (min-width: 1000px){

	/* Dejamos que se vea el nombre */
	body>nav>ul>li>a>span:nth-of-type(2){
		display: inline-block;
	}

	#formularios{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 1em;
	}

	#Ordeno{
		margin: auto;
		margin-left: 3.5%;
		padding-top: 0.15%;
		display: flex;
		flex-direction: row;
	}


	#Busco{
		margin: auto;
		margin-right: 3.5%;
	}
	
	#select{
		padding: 0;
		margin: 0;
	}

	#recetas{
		padding: 0;
	}

}





/* Mas grande */

@media all and (min-width: 1200px) {


	nav>ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;

	}


	/* De 3 en 3 */
	#recetas>article {
		width: 25%;
		margin: .5em;	/* Si ponemos esto, se baja el articulo porque pasamos del 100%*/
		margin-top: 2.5%;
	}
}
